body * {
    font-family: 'Arvo', serif;
}

.navbar-default {
    background-color: #005689;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
    line-height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #fff;
}

.navbar-nav>li>a:focus {
    outline: none;
}

.navbar-nav>li>a {
    padding: 10px;
    color: #fff !important;
}

.navbar-nav>li>a.separator {
    color: rgba(75, 198, 223, 0.4) !important;
}

.padding5r {
    padding-right: 5px;
}

.popover-list-style {
    list-style-type: none;
    padding-left: 0;
    width: 120px;
}

.popover-item {
    line-height: 3.8rem;
    font-weight: 700;
}

.popover-item-border {
    border-bottom: 0.0625rem solid #dfdfdf;
    border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(223, 223, 223);
}

.popover-content {
    padding: 0 10px;
}

.popover {
    border-radius: 0;
    top: 35px !important;
    left: -28.3438px !important;
}

.rounded-icon {
    -webkit-border-radius: 62.5rem;
    border-radius: 62.5rem;
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.inline-icon {
    fill: #ffffff;
}

.separator {
    padding: 5px 0 !important;
    font-size: 26px;
    font-weight: 100 !important;
    font-family: serif;
    color: rgba(75, 198, 223, 0.4);
}

.control__icon-wrapper {
    width: 2.55rem;
    height: 2.55rem;
    border: 0.0625rem solid rgba(75, 198, 223, 0.4);
    padding: 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    text-align: center;
    margin-right: 10px;
}

.guardian-icon {
    border: 0px;
    margin-top: -10px;
}

.container {
    padding-left: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 1300px;
    }
}