/** 
* Author: Christos Koutsiaris

* Assignment: Minor Project – The Guardian tech page

* Student ID: STU-00001219

* Date: 2017/02/04

* Code: BScHn2016B_FDWM_A2

*/


/* Main elements */

body * {
    font-family: 'Arvo', serif;
}

h4 {
    font-size: 16px;
}

h1 {
    font-weight: 400;
}

header {
    background-color: #e5e5e5;
}

main {
    background-color: #F5F5F5;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

figure {
    padding-top: 24px;
}

figcaption {
    font-size: 12px;
    color: #767676;
}


/*End of main elements*/


/*Main classes*/

.footer {
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #484848;
}

.navbar {
    min-height: 0;
}

.navbar-default {
    background-color: #005689;
    border-color: #005689;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
    line-height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #fff;
}

.navbar-nav>li>a:focus {
    outline: none;
}

.navbar-nav>li>a {
    padding: 10px;
    color: #fff !important;
}

.navbar-nav>li>a.separator {
    color: rgba(75, 198, 223, 0.4) !important;
}

.rounded-icon {
    -webkit-border-radius: 62.5rem;
    border-radius: 62.5rem;
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.up-icon {
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
    float: left;
    height: 4.125rem;
    width: 4.125rem;
    text-align: center;
    line-height: 3;
    margin: 5px;
}

.up-info {
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.inline-icon {
    fill: #ffffff;
}

.inline-icon svg {
    overflow: visible;
}

.brand-bar {
    background-color: #005689;
}

.separator {
    padding: 5px 0 !important;
    font-size: 26px;
    font-weight: 100 !important;
    font-family: serif;
    color: rgba(75, 198, 223, 0.4);
}

.icon-wrapper {
    width: 2.55rem;
    height: 2.55rem;
    border: 0.0625rem solid rgba(75, 198, 223, 0.4);
    padding: 4px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    text-align: center;
    margin-right: 10px;
    margin-left: -3px;
}

.icon-wrapper>svg {
    margin-top: 3px;
}

.guardian-icon {
    border: 0px;
    margin-top: -13px;
}

.container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-width: 70%;
}

.container-fluid {
    background: #1a6795;
}

.home-icon {
    width: 16px;
    height: 16px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAASCAQAAAAul0yEAAAAO0lEQVQoz9XPsQ0AIAwDwYzuzZ8iQjIQUiLh9r5xhA0BinqInDqsggX34EAPSpzBFTOg3Su2o3+wGtYAGI94niPCbrMAAAAASUVORK5CYII=");
    margin-bottom: -0.1875rem;
    color: white;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.nav-tabs {
    border-bottom: 0;
    background-color: #00456E;
}

.nav-tabs>li>a {
    line-height: 36px;
}

ul.nav-tabs>li>a {
    color: #fff;
    padding: 0 4px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

ul.nav-tabs>li>a:hover {
    background-color: #00456E;
    border-style: none;
    text-decoration: underline;
}

ul.nav-tabs>li {
    margin-bottom: 0;
}

.last-nav-tab {
    float: right !important;
    background-color: #333333;
    pointer-events: none;
}

.last-nav-tab>a {
    text-decoration: none;
    margin: 0;
}

.last-nav-tab>a:hover {
    text-decoration: none !important;
    background-color: #333333 !important;
}

.navbar {
    margin-bottom: 0;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: #DFDFDF;
    display: inline-block;
    border-radius: 0;
}

.breadcrumb>li>a {
    color: #005689;
    font-size: 16px;
    font-weight: 600;
}

.breadcrumb>li+li:before {
    content: "";
    padding: 0;
}

.row.match-my-cols {
    overflow: hidden;
}

.caption {
    font-weight: 700;
}

.thumbnail {
    background-color: #F6F6F6;
    min-height: 235px;
    padding: 0;
}

.thumbnail:hover {
    background-color: #E4E4E4;
    color: #005689;
    cursor: pointer;
}

.side-heading {
    font-size: 22px;
    font-weight: 900;
    color: #00456e;
}

.side-heading-article {
    font-size: 22px;
    font-weight: 900;
    color: #00456e;
}

.relative {
    position: relative;
}

.article-links {
    color: #005689;
    cursor: pointer;
    text-decoration: none !important;
    border-bottom: 0.0625rem solid #dcdcdc;
    -webkit-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
}

.pill {
    font-size: 12px;
    padding: 0 0.5rem;
    -webkit-border-radius: 62.5rem;
    border-radius: 62.5rem;
    color: #005689;
    border-color: #4bc6df;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-weight: 700;
    border-width: 0.0625rem;
    border-style: solid;
    line-height: 22px;
}

.pill-more-news {
    background-color: #005689;
    color: white;
    border-color: #005689;
    padding: 5px;
}

.category-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #4BC6DF;
}

.vertical-glyph {
    vertical-align: middle;
    margin-top: -5px;
}

.blue-top-border {
    border-top: 1px solid #4BC6DF;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #00456E;
}

.adjust-left-padding {
    padding-left: 0;
}

.adjust-right-padding {
    padding-right: 30px;
}

.adjust-padding-depth {
    padding-left: 15px;
    padding-right: 15px;
}

.reset_border-bottom {
    border: 0;
}

.all {
    display: inline-table;
    position: absolute;
    right: 0;
    margin-top: -36px;
    color: #fff !important;
    background-color: #333333;
    padding: 8px;
}

.b-arrow {
    font-weight: 700;
    color: #767676;
    font-size: 21px;
    line-height: 22px;
}

.right-border-main {
    position: relative
}

.right-border-main:after {
    content: "";
    background: #dfdfdf;
    position: absolute;
    right: 0;
    height: 275px;
    width: 1px;
    top: 0;
}

.right-border-depth {
    position: relative
}

.right-border-depth:after {
    content: "";
    background: #dfdfdf;
    position: absolute;
    right: 0;
    height: 360px;
    width: 1px;
    top: 0;
}

.right-border {
    position: relative
}

.right-border:after {
    content: "";
    background: #dfdfdf;
    position: absolute;
    right: 0;
    height: 235px;
    width: 1px;
    top: 0;
}

.right-border-news {
    position: relative
}

.right-border-news:after {
    content: "";
    background: #dfdfdf;
    position: absolute;
    right: 0;
    height: 272px;
    width: 1px;
    top: 0;
}

.right-border-opinion {
    position: relative
}

.right-border-opinion:after {
    content: "";
    background: #dfdfdf;
    position: absolute;
    right: 0;
    height: 235px;
    width: 1px;
    top: 0;
}

.media {
    margin-bottom: 14px;
}

.media-object {
    width: 132px;
}

.media-body {
    vertical-align: middle;
}

.background-clip {
    background-clip: content-box;
}

.news-min-height {
    min-height: 270px;
}

.set-display {
    display: flex;
}

.wii {
    margin-bottom: 15px;
}

.side-heading-bottom {
    position: absolute;
    bottom: -430px;
    left: 15px;
}

.news-btn {
    border-radius: 0 50px 50px 0px;
    background-color: #767676;
    color: #dcdcdc;
    border-color: #767676;
}

.news-input {
    border-radius: 50px 0px 0px 50px;
}

.news-color {
    color: #dcdcdc
}

footer ol {
    list-style-type: none;
}

.caption>h4 {
    font-weight: 700;
}

.subheader {
    color: #767676;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.dotted-border-top {
    border-top: 0.0625rem dotted #dfdfdf;
}

.dotted-border-bottom {
    border-bottom: 0.0625rem dotted #dfdfdf;
}

.social-icon--facebook {
    background-color: #3067a3;
}

.social-icon--twitter {
    background-color: #03b3ee;
}

.social-icon--email {
    background-color: #767676;
}

.social-icon.social-icon--more {
    background-color: #eaeaea;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
}

.social-icon {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    min-width: 3rem;
    max-width: 100%;
    width: auto;
    height: 3rem;
}

.social-icon svg {
    height: 88%;
    width: 88%;
}

.centered-icon svg {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

.social-icon .social-icon--more__svg {
    fill: #767676;
    top: -0.0625rem;
    width: 60%;
}

.inline-tone-fill {
    fill: #4bc6df;
}

.inline-share {
    fill: #767676;
}

.inline-twitter-bird {
    margin-left: 10px;
}


/*End of main classes*/


/*Branding*/

.white-background {
    background-color: #fff;
}

.text-blue {
    color: #005689;
}

.articles-colors {
    background-color: #84194B !important;
    color: #fff;
}

.articles-colors>.caption {
    color: #fff;
}

.light-gray-bg {
    background-color: #F6F6F6;
}

.light-gray-bg-100 {
    background-color: #f1f1f1;
}

.dark-gray {
    color: #767676;
}

.tone {
    color: #21a2bc;
}


/*End of branding*/


/*Helper classes*/

.padding0r {
    padding-right: 0;
}

.padding0l {
    padding-left: 0;
}

.padding5r {
    padding-right: 5px;
}

.padding5t {
    padding-top: 5px;
}

.padding10t {
    padding-top: 10px;
}

.padding15 {
    padding: 15px;
}

.padding15l {
    padding-left: 15px;
}

.padding15r {
    padding-right: 15px;
}

.padding10l {
    padding-left: 10px;
}

.padding10b {
    padding-bottom: 10px;
}

.padding5b {
    padding-bottom: 5px;
}

.negative-margin-bottom {
    margin-bottom: -5px !important;
}

.match-my-cols [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.radius-zero {
    border-radius: 0;
}

.font-700 {
    font-weight: 700;
}

.font21 {
    font-size: 21px;
}

.font18 {
    font-size: 18px;
}

.font16 {
    font-size: 16px;
}

.full-width {
    width: 100% !important;
}

.margin-top-0 {
    margin-top: 0;
}


/*End of helper classes*/


/*Media queries*/

@media(min-width: 768px) {
    .adjust-left-padding {
        padding-left: 30px;
    }
}

@media(max-width: 768px) {
    .pils-left-margin {
        margin-left: -15px;
    }
    .caption>h4 {
        margin: 0;
        font-size: 14px;
    }
    .adjust-padding-depth {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav {
        margin: 10px;
        padding-left: 10px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 21px;
    }
    .navbar-right {
        background-color: #333 !important;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .nav>li>a {
        display: inline;
    }
    .container>.navbar-collapse {
        margin-right: 0;
    }
    .thumbnail {
        min-height: 120px;
        overflow: overlay;
    }
}

@media(max-width: 769px) {
    .news-min-height {
        min-height: 70px;
    }
    .adjust-right-padding {
        padding-right: 0px;
    }
    .reset-paddings {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .thumbnail {
        min-height: 110px;
        overflow: overlay;
    }
}

@media(max-width: 991px) {
    .side-heading-article {
        font-size: 16px;
        font-weight: 700;
        color: #00456e;
    }
    figure {
        padding-top: 0;
    }
    .subheader {
        font-size: 16px;
    }
    .pad-fixes-main1 {
        padding-bottom: 10px;
    }
    .pad-fixes-main2 {
        padding-top: 10px;
    }
    [class*='right-border-']:after {
        width: 0;
    }
    .set-display {
        display: block;
    }
    .news-min-height {
        min-height: 125px;
    }
    .right-border:after {
        width: 0;
    }
    .right-border-news:after {
        width: 0;
    }
    .breadcrumb {
        padding: 5px 10px;
        width: 100%;
        list-style-type: none;
        margin: auto;
        white-space: nowrap;
        overflow-x: hidden;
    }
    .breadcrumb>li {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: -5px
    }
    .breadcrumb-mobile-style>a {
        color: #fff !important;
    }
    .breadcrumb-mobile-style {
        background-color: #00456E;
        padding: 7px;
        margin-bottom: -5px;
        margin-top: -5px;
    }
}

@media (min-width: 992px) {
    .comments {
        position: absolute;
        bottom: -50px;
    }
    .panel {
        margin-bottom: 10px;
    }
    .panel-body {
        padding: 14px;
        font-size: 14px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1260px) {
    .panel {
        margin-bottom: 20px;
    }
    .panel-body {
        padding: 14px;
        font-size: 14px;
    }
    .comments {
        position: absolute;
        bottom: -50px;
    }
}

@media (min-width: 1690px) {
    .wii {
        margin-bottom: 0;
    }
}


/*End of media queries*/