.reset-margin {
    margin: 0 !important;
}

.ui-listview>.ui-li-divider,
.ui-header .ui-title,
.ui-footer .ui-title {
    font-size: 16px;
    letter-spacing: 1px;
}

.center-image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1024px;
}

.no-bullets {
    list-style-type: none;
}

a.ui-btn {
    border-radius: 0 !important;
}

.ui-listview>li h2 {
    margin: 0;
}